body{
    background: rgb(150,251,248);
background: linear-gradient(90deg, rgba(150,251,248,1) 23%, rgba(246,172,239,1) 89%);
}


.login-box2 {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 700px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #e4e7e271;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    
  }

  
